/* line 17, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 58, sprites/general/*.png */
.general-sprite, .breakline div, .draggable div, #drag-and-drop #free .draggable-out div, #drag-and-drop #dragzone .innerdragzone .draggable-in div, .draggable div.happy, #drag-and-drop #free .draggable-out div.happy, #drag-and-drop #dragzone .innerdragzone .draggable-in div.happy {
  background: url('../img/sprites/general-s408be84bf3.png') no-repeat;
}

/* line 8, ../sass/general/_fonts.sass */
body {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
}

/* line 11, ../sass/general/_fonts.sass */
strong {
  font-weight: bold;
}

/* line 14, ../sass/general/_fonts.sass */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

/* line 18, ../sass/general/_fonts.sass */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 21, ../sass/general/_fonts.sass */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

/* line 25, ../sass/general/_fonts.sass */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 29, ../sass/general/_fonts.sass */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

/* line 33, ../sass/general/_fonts.sass */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 36, ../sass/general/_fonts.sass */
p {
  margin: 0 0 1.5em;
}

/* line 38, ../sass/general/_fonts.sass */
a {
  color: #da7c0c;
}
/* line 18, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #da7c0c;
}
/* line 21, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #da7c0c;
}
/* line 24, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #915308;
}
/* line 27, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #da7c0c;
}

/* line 40, ../sass/general/_fonts.sass */
blockquote {
  margin: 1.5em;
  color: #626262;
  font-style: italic;
}

/* line 44, ../sass/general/_fonts.sass */
strong, dfn {
  font-weight: bold;
}

/* line 46, ../sass/general/_fonts.sass */
em, dfn {
  font-style: italic;
}

/* line 48, ../sass/general/_fonts.sass */
sup, sub {
  line-height: 0;
}

/* line 50, ../sass/general/_fonts.sass */
abbr, acronym {
  border-bottom: 1px dotted #626262;
}

/* line 52, ../sass/general/_fonts.sass */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 55, ../sass/general/_fonts.sass */
del {
  color: #626262;
}

/* line 57, ../sass/general/_fonts.sass */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 60, ../sass/general/_fonts.sass */
li ul, li ol {
  margin: 0;
}

/* line 62, ../sass/general/_fonts.sass */
ul, ol {
  margin: 0;
  padding-left: 1.5em;
}

/* line 65, ../sass/general/_fonts.sass */
ul {
  list-style-type: none;
}

/* line 67, ../sass/general/_fonts.sass */
ol {
  list-style-type: decimal;
}

/* line 69, ../sass/general/_fonts.sass */
dl {
  margin: 0 0 1.5em 0;
}

/* line 71, ../sass/general/_fonts.sass */
dt {
  font-weight: bold;
}

/* line 73, ../sass/general/_fonts.sass */
dd {
  margin-left: 1.5em;
}

/* line 75, ../sass/general/_fonts.sass */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 78, ../sass/general/_fonts.sass */
th {
  font-weight: bold;
}

/* line 80, ../sass/general/_fonts.sass */
thead th {
  background: #d5d5d5;
}

/* line 82, ../sass/general/_fonts.sass */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 84, ../sass/general/_fonts.sass */
table.striped tr:nth-child(even) td, table tr.even td {
  background: white;
}

/* line 86, ../sass/general/_fonts.sass */
tfoot {
  font-style: italic;
}

/* line 88, ../sass/general/_fonts.sass */
caption {
  background: white;
}

/* forms */
/* line 3, ../sass/general/_forms.sass */
form fieldset {
  padding: 5px 20px;
  margin: 5px 0 0 0;
  border: 1px solid #cccccc;
}
/* line 8, ../sass/general/_forms.sass */
form fieldset legend {
  font-size: 12px;
  color: #626262;
}
/* line 12, ../sass/general/_forms.sass */
form div {
  margin: 0 0 1em 0;
  width: 100%;
}
/* line 16, ../sass/general/_forms.sass */
form div.error label.error {
  font-size: 90%;
  color: #9e160d;
}
/* line 19, ../sass/general/_forms.sass */
form div.error input, form div.error textarea {
  border: 1px solid #9e160d;
  background-color: #fce2e1;
  color: #9e160d;
}
/* line 23, ../sass/general/_forms.sass */
form div.error input.radio_checkbox, form div.error textarea.radio_checkbox {
  border: none;
  background: transparent;
}
/* line 26, ../sass/general/_forms.sass */
form div.error em {
  color: #9e160d;
  display: block;
  padding: 0 0 6px 0;
  text-align: left;
  width: auto;
  font-style: normal;
}
/* line 33, ../sass/general/_forms.sass */
form label {
  font-size: 0.9em;
  line-height: 1.3;
  display: block;
  color: #888888;
  cursor: pointer;
}
/* line 39, ../sass/general/_forms.sass */
form label i {
  font-size: 10px;
  font-style: normal;
}
/* line 42, ../sass/general/_forms.sass */
form label.radio_checkbox {
  display: inline;
}
/* line 44, ../sass/general/_forms.sass */
form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 48, ../sass/general/_forms.sass */
form input, form textarea {
  color: #626262;
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  font-size: 0.8em;
  line-height: 1.2;
  -webkit-box-shadow: inset 0 1px 4px #bbbbbb;
  -moz-box-shadow: inset 0 1px 4px #bbbbbb;
  -o-box-shadow: inset 0 1px 4px #bbbbbb;
  box-shadow: inset 0 1px 4px #bbbbbb;
  border: 1px solid #d5d5d5;
  margin: 2px 0 0 0;
  padding: 8px 4px;
  width: 96%;
  vertical-align: top;
}
/* line 60, ../sass/general/_forms.sass */
form input:focus, form textarea:focus {
  border: 1px solid #9bc13b;
}
/* line 63, ../sass/general/_forms.sass */
form input.radio_checkbox, form textarea.radio_checkbox {
  vertical-align: middle;
  margin: 0 2px 0 0;
  padding: 0;
  width: auto;
  border: none;
}
/* line 69, ../sass/general/_forms.sass */
form select {
  width: 100%;
}
/* line 71, ../sass/general/_forms.sass */
form select option {
  width: auto;
}

/* line 5, ../sass/general/_css3buttons.sass */
button.cssbutton, button.grey-css3button, button.grey-css3button:visited, button.orange-css3button, button.orange-css3button:visited, button.green-css3button, button.validate_button, button.green-css3button:visited, button.validate_button:visited {
  *height: 28px;
}
/* line 7, ../sass/general/_css3buttons.sass */
button.cssbutton.big, button.big.grey-css3button, button.big.grey-css3button:visited, button.big.orange-css3button, button.big.orange-css3button:visited, button.big.green-css3button, button.big.validate_button, button.big.green-css3button:visited, button.big.validate_button:visited {
  *height: 34px;
}

/* line 9, ../sass/general/_css3buttons.sass */
.cssbutton, .grey-css3button, .grey-css3button:visited, .orange-css3button, .orange-css3button:visited, .green-css3button, .validate_button, .green-css3button:visited, .validate_button:visited {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  padding: 0.3em 1.2em 0.35em;
  font-size: 13px !important;
  line-height: 1.3em;
  margin-top: 0;
  top: 0 !important;
  text-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  vertical-align: middle;
  overflow: visible;
  width: auto;
}
/* line 27, ../sass/general/_css3buttons.sass */
.cssbutton:hover, .grey-css3button:hover, .grey-css3button:hover:visited, .orange-css3button:hover, .orange-css3button:hover:visited, .green-css3button:hover, .validate_button:hover, .green-css3button:hover:visited, .validate_button:hover:visited {
  text-decoration: none;
  color: white;
}
/* line 31, ../sass/general/_css3buttons.sass */
.cssbutton.big:hover, .big.grey-css3button:hover, .big.grey-css3button:hover:visited, .big.orange-css3button:hover, .big.orange-css3button:hover:visited, .big.green-css3button:hover, .big.validate_button:hover, .big.green-css3button:hover:visited, .big.validate_button:hover:visited, .cssbutton.big:active, .big.grey-css3button:active, .big.grey-css3button:active:visited, .big.orange-css3button:active, .big.orange-css3button:active:visited, .big.green-css3button:active, .big.validate_button:active, .big.green-css3button:active:visited, .big.validate_button:active:visited, .cssbutton.big, .big.grey-css3button, .big.grey-css3button:visited, .big.orange-css3button, .big.orange-css3button:visited, .big.green-css3button, .big.validate_button, .big.green-css3button:visited, .big.validate_button:visited {
  font-size: 16px !important;
}

/* line 34, ../sass/general/_css3buttons.sass */
.grey-css3button, .grey-css3button:visited {
  color: white;
  border: solid 1px #888888;
  background-color: #bbbbbb;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bbbbbb), color-stop(100%, #888888));
  background-image: -webkit-linear-gradient(#bbbbbb, #888888);
  background-image: -moz-linear-gradient(#bbbbbb, #888888);
  background-image: -o-linear-gradient(#bbbbbb, #888888);
  background-image: -ms-linear-gradient(#bbbbbb, #888888);
  background-image: linear-gradient(#bbbbbb, #888888);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFBBBBBB', endColorstr='#FF888888');
}
/* line 41, ../sass/general/_css3buttons.sass */
.grey-css3button:hover, .grey-css3button:active, .grey-css3button:visited:hover, .grey-css3button:visited:active {
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bbbbbb), color-stop(100%, #626262));
  background-image: -webkit-linear-gradient(#bbbbbb, #626262);
  background-image: -moz-linear-gradient(#bbbbbb, #626262);
  background-image: -o-linear-gradient(#bbbbbb, #626262);
  background-image: -ms-linear-gradient(#bbbbbb, #626262);
  background-image: linear-gradient(#bbbbbb, #626262);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFBBBBBB', endColorstr='#FF626262');
}

/* line 46, ../sass/general/_css3buttons.sass */
.orange-css3button, .orange-css3button:visited {
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background-color: #f78d1d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #faa51a), color-stop(100%, #f47a20));
  background-image: -webkit-linear-gradient(#faa51a, #f47a20);
  background-image: -moz-linear-gradient(#faa51a, #f47a20);
  background-image: -o-linear-gradient(#faa51a, #f47a20);
  background-image: -ms-linear-gradient(#faa51a, #f47a20);
  background-image: linear-gradient(#faa51a, #f47a20);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFAA51A', endColorstr='#FFF47A20');
}
/* line 53, ../sass/general/_css3buttons.sass */
.orange-css3button:hover, .orange-css3button:visited:hover {
  color: #fef4e9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f88e11), color-stop(100%, #f06015));
  background-image: -webkit-linear-gradient(#f88e11, #f06015);
  background-image: -moz-linear-gradient(#f88e11, #f06015);
  background-image: -o-linear-gradient(#f88e11, #f06015);
  background-image: -ms-linear-gradient(#f88e11, #f06015);
  background-image: linear-gradient(#f88e11, #f06015);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF88E11', endColorstr='#FFF06015');
}
/* line 58, ../sass/general/_css3buttons.sass */
.orange-css3button:active, .orange-css3button:visited:active {
  color: #fcd3a5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f47a20), color-stop(100%, #faa51a));
  background-image: -webkit-linear-gradient(#f47a20, #faa51a);
  background-image: -moz-linear-gradient(#f47a20, #faa51a);
  background-image: -o-linear-gradient(#f47a20, #faa51a);
  background-image: -ms-linear-gradient(#f47a20, #faa51a);
  background-image: linear-gradient(#f47a20, #faa51a);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF47A20', endColorstr='#FFFAA51A');
}

/* line 63, ../sass/general/_css3buttons.sass */
.green-css3button, .validate_button, .green-css3button:visited, .validate_button:visited {
  -webkit-box-shadow: inset 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 1px 0 0 #96ca6d;
  -o-box-shadow: inset 1px 0 0 #96ca6d;
  box-shadow: inset 1px 0 0 #96ca6d;
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(#7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(#7fbf4d, #63a62f);
  background-image: -o-linear-gradient(#7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(#7fbf4d, #63a62f);
  background-image: linear-gradient(#7fbf4d, #63a62f);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF7FBF4D', endColorstr='#FF63A62F');
  border-color: #63a62f #63a62f #5b992b;
  border-style: solid;
  border-width: 1px;
  color: white;
  font-weight: bold;
  text-shadow: #4c9021 0 -1px 0;
}
/* line 76, ../sass/general/_css3buttons.sass */
.green-css3button:hover, .validate_button:hover, .green-css3button:visited:hover, .validate_button:visited:hover {
  -webkit-box-shadow: inset 0 1px 0 #8dbf67;
  -moz-box-shadow: inset 0 1px 0 #8dbf67;
  -o-box-shadow: inset 0 1px 0 #8dbf67;
  box-shadow: inset 0 1px 0 #8dbf67;
  background-color: #76b347;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
  background-image: -webkit-linear-gradient(#76b347, #5e9e2e);
  background-image: -moz-linear-gradient(#76b347, #5e9e2e);
  background-image: -o-linear-gradient(#76b347, #5e9e2e);
  background-image: -ms-linear-gradient(#76b347, #5e9e2e);
  background-image: linear-gradient(#76b347, #5e9e2e);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF76B347', endColorstr='#FF5E9E2E');
}
/* line 81, ../sass/general/_css3buttons.sass */
.green-css3button:active, .validate_button:active, .green-css3button:visited:active, .validate_button:visited:active {
  -webkit-box-shadow: 0 0 8px 4px #548c29 inset, 0 1px 0 0 #eeeeee;
  -moz-box-shadow: 0 0 8px 4px #548c29 inset, 0 1px 0 0 #eeeeee;
  -o-box-shadow: 0 0 8px 4px #548c29 inset, 0 1px 0 0 #eeeeee;
  box-shadow: 0 0 8px 4px #548c29 inset, 0 1px 0 0 #eeeeee;
  border-color: #5b992b #5b992b #538c27;
}

/* line 2, ../sass/general/_others.sass */
.validate_button {
  margin: 0 0 0 2em;
  float: left;
}

/* line 6, ../sass/general/_others.sass */
.tag, .error-tag {
  font-size: 0.8em;
  line-height: 1.6;
  text-transform: capitalize;
  display: inline-block;
  padding: 0.2em 0.4em;
  margin: 0.6em 0.3em 0 0;
  color: #888888;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #fbfbfb;
  border: 1px solid #eeeeee;
}
/* line 17, ../sass/general/_others.sass */
.tag strong, .error-tag strong {
  color: #626262;
  text-transform: none;
}

/* line 20, ../sass/general/_others.sass */
.error-tag {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  background-color: #9e160d;
}
/* line 25, ../sass/general/_others.sass */
.error-tag strong {
  color: white;
}

/* line 28, ../sass/general/_others.sass */
.page_filters {
  float: right;
  margin: 0 0 0.6em 1em;
  width: 200px;
  padding: 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #fbfbfb;
  -webkit-box-shadow: inset 0 1px 2px #bbbbbb;
  -moz-box-shadow: inset 0 1px 2px #bbbbbb;
  -o-box-shadow: inset 0 1px 2px #bbbbbb;
  box-shadow: inset 0 1px 2px #bbbbbb;
  border: 1px solid #cccccc;
}
/* line 37, ../sass/general/_others.sass */
.page_filters button {
  margin-top: 0.5em;
}
/* line 39, ../sass/general/_others.sass */
.page_filters p {
  margin: 0 0 0.2em 0;
  font-size: 0.7em;
  line-height: 1.3;
  color: #888888;
}
/* line 44, ../sass/general/_others.sass */
.page_filters p label {
  font-size: 1.2em;
  color: #626262;
  text-transform: uppercase;
}
/* line 48, ../sass/general/_others.sass */
.page_filters p input {
  font-size: 1.4em;
}
/* line 51, ../sass/general/_others.sass */
.page_filters ul {
  margin-bottom: 0.5em;
}
/* line 54, ../sass/general/_others.sass */
.page_filters ul li a {
  text-decoration: none;
}
/* line 56, ../sass/general/_others.sass */
.page_filters ul li a:hover {
  text-decoration: underline;
}
/* line 58, ../sass/general/_others.sass */
.page_filters ul li a.selected {
  font-weight: bold;
  color: #492a04;
}
/* line 61, ../sass/general/_others.sass */
.page_filters ul li a.selected:hover {
  text-decoration: none;
}

/* line 64, ../sass/general/_others.sass */
.article_detail, #redeen_by_article .inner_page #article {
  float: left;
  width: 92%;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -ms-border-top-left-radius: 6px;
  -o-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -ms-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #eeeeee;
  padding: 4% 4% 0 4%;
  border-bottom: 1px solid #bbbbbb;
}
/* line 72, ../sass/general/_others.sass */
.article_detail ul, #redeen_by_article .inner_page #article ul {
  padding: 0 !important;
  width: 100%;
  margin-top: 1em !important;
  float: left !important;
}
/* line 78, ../sass/general/_others.sass */
.article_detail .inner_article, #redeen_by_article .inner_page #article .inner_article {
  float: left;
  width: 100%;
}
/* line 81, ../sass/general/_others.sass */
.article_detail .inner_article .photo, #redeen_by_article .inner_page #article .inner_article .photo {
  float: left;
  padding: 0.2em;
  margin: 0 0.5em 0 0;
  border: 1px solid #bbbbbb;
  background-color: white;
  -webkit-box-shadow: 0 1px 4px #bbbbbb;
  -moz-box-shadow: 0 1px 4px #bbbbbb;
  -o-box-shadow: 0 1px 4px #bbbbbb;
  box-shadow: 0 1px 4px #bbbbbb;
}
/* line 88, ../sass/general/_others.sass */
.article_detail .inner_article .tag, #redeen_by_article .inner_page #article .inner_article .tag, .article_detail .inner_article .error-tag, #redeen_by_article .inner_page #article .inner_article .error-tag {
  margin-top: 0;
}
/* line 91, ../sass/general/_others.sass */
.article_detail .inner_article h4, #redeen_by_article .inner_page #article .inner_article h4 {
  font-size: 0.8em;
  line-height: 1.5em;
  font-weight: bold;
  margin-bottom: 0.2em;
  color: #888888;
  text-transform: uppercase;
  margin-left: 106px;
}
/* line 99, ../sass/general/_others.sass */
.article_detail .inner_article h3, #redeen_by_article .inner_page #article .inner_article h3 {
  color: #626262;
  font-size: 1.6em;
  line-height: 1.1em;
  margin-bottom: 0.1em;
  margin-left: 106px;
}

/* line 4, ../sass/general/_message.sass */
.message, .error-message, .alert-message, .success-message {
  overflow: hidden;
  *zoom: 1;
  width: 94%;
  padding: 2%;
  margin: 0.5em 0;
  border-width: 3px;
  border-style: solid;
  color: #484848;
  font-size: 1.2em;
  line-height: 1.3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 15, ../sass/general/_message.sass */
.message a, .error-message a, .alert-message a, .success-message a {
  color: #484848;
  text-decoration: underline;
}
/* line 18, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.message a:visited, .error-message a:visited, .alert-message a:visited, .success-message a:visited {
  color: #484848;
}
/* line 21, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.message a:focus, .error-message a:focus, .alert-message a:focus, .success-message a:focus {
  color: #484848;
}
/* line 24, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.message a:hover, .error-message a:hover, .alert-message a:hover, .success-message a:hover {
  color: #484848;
}
/* line 27, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.message a:active, .error-message a:active, .alert-message a:active, .success-message a:active {
  color: #484848;
}

/* line 19, ../sass/general/_message.sass */
.error-message {
  border-color: #9e160d;
  color: #9e160d;
  background-color: #fce2e1;
}

/* line 25, ../sass/general/_message.sass */
.alert-message {
  border-color: #f0c36d;
  background-color: #fffedf;
}

/* line 30, ../sass/general/_message.sass */
.success-message {
  border-color: #9bc13b;
  background-color: #d7e6af;
}

/* line 1, ../sass/general/_list_items.sass */
.list_items {
  padding: 0;
}
/* line 3, ../sass/general/_list_items.sass */
.list_items li {
  padding: 1em 0;
  border-bottom: 1px solid #eeeeee;
}
/* line 8, ../sass/general/_list_items.sass */
.list_items li.last {
  border-bottom: 0;
  padding-bottom: 0;
}
/* line 11, ../sass/general/_list_items.sass */
.list_items li.first {
  padding-top: 0;
}
/* line 14, ../sass/general/_list_items.sass */
.list_items li.big a, .list_items li.big .main {
  display: inline;
  font-size: 1.5em;
  line-height: 1.1em;
  font-weight: bold;
}
/* line 19, ../sass/general/_list_items.sass */
.list_items li.big span {
  font-size: 0.8em;
  line-height: 1.6;
  color: #bbbbbb;
  text-transform: capitalize;
}

/* line 1, ../sass/general/_pagination.sass */
.pagination {
  overflow: hidden;
  *zoom: 1;
  padding: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid #626262;
  margin-top: 1em;
}
/* line 8, ../sass/general/_pagination.sass */
.pagination .pag_general, .pagination .hellip, .pagination a, .pagination span.current {
  font-size: 1.1em;
  display: inline-block;
  padding: 0.5em 0.8em;
  margin: 0.2em 0.3em 0 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #eeeeee;
  text-decoration: none;
  border: 1px solid #bbbbbb;
  color: #626262;
}
/* line 18, ../sass/general/_pagination.sass */
.pagination .hellip {
  border: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background-color: white;
  color: #484848;
  padding-left: 0.02em;
  padding-right: 0.02em;
}
/* line 27, ../sass/general/_pagination.sass */
.pagination a {
  color: #626262;
}
/* line 18, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.pagination a:visited {
  color: #626262;
}
/* line 21, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.pagination a:focus {
  color: #626262;
}
/* line 24, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.pagination a:hover {
  color: white;
}
/* line 27, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.pagination a:active {
  color: #626262;
}
/* line 30, ../sass/general/_pagination.sass */
.pagination a:hover {
  background-color: #da7c0c;
  border: 1px solid #da7c0c;
  -webkit-box-shadow: 0 2px 4px #bbbbbb;
  -moz-box-shadow: 0 2px 4px #bbbbbb;
  -o-box-shadow: 0 2px 4px #bbbbbb;
  box-shadow: 0 2px 4px #bbbbbb;
}
/* line 35, ../sass/general/_pagination.sass */
.pagination span.current {
  margin-top: -0.2em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  border-color: #626262;
  border-top: 0;
  background-color: white;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -ms-border-top-left-radius: 0px;
  -o-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -ms-border-top-right-radius: 0px;
  -o-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-box-shadow: 0 2px 4px #bbbbbb;
  -moz-box-shadow: 0 2px 4px #bbbbbb;
  -o-box-shadow: 0 2px 4px #bbbbbb;
  box-shadow: 0 2px 4px #bbbbbb;
}

/* line 53, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 57, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 32, ../sass/_base.sass */
.author_style, #html5bpform #carousel .gallery .credits, #footer .author {
  margin-top: 0.5em;
  font-size: 90%;
  color: #bbbbbb;
}
/* line 36, ../sass/_base.sass */
.author_style a, #html5bpform #carousel .gallery .credits a, #footer .author a {
  font-size: 90%;
  color: #626262;
  text-decoration: none;
}
/* line 18, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.author_style a:visited, #html5bpform #carousel .gallery .credits a:visited, #footer .author a:visited {
  color: #626262;
}
/* line 21, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.author_style a:focus, #html5bpform #carousel .gallery .credits a:focus, #footer .author a:focus {
  color: #626262;
}
/* line 24, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.author_style a:hover, #html5bpform #carousel .gallery .credits a:hover, #footer .author a:hover {
  color: #484848;
}
/* line 27, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.author_style a:active, #html5bpform #carousel .gallery .credits a:active, #footer .author a:active {
  color: #626262;
}

/* line 42, ../sass/_base.sass */
.breakline {
  overflow: hidden;
  *zoom: 1;
  margin: 0;
  padding: 0;
}
/* line 46, ../sass/_base.sass */
.breakline div {
  width: 100%;
  height: 10px;
  margin: 0em 0;
  display: block;
  background-position: 0 -220px;
  background-repeat: repeat-x;
  background-position: 0 -15px;
}

/* line 54, ../sass/_base.sass */
.wrapper, #drag-and-drop, header, #html5bpform, #footer {
  overflow: hidden;
  *zoom: 1;
  margin: 0;
  padding: 0;
}
/* line 58, ../sass/_base.sass */
.wrapper .layout, #drag-and-drop .layout, header .layout, #html5bpform .layout, #footer .layout {
  *zoom: 1;
  margin: auto;
  width: 61em;
  max-width: 100%;
  min-width: 976px;
}
/* line 38, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.wrapper .layout:after, #drag-and-drop .layout:after, header .layout:after, #html5bpform .layout:after, #footer .layout:after {
  content: "";
  display: table;
  clear: both;
}

/* line 63, ../sass/_base.sass */
.full_parent, #commerce_menu {
  display: inline;
  float: left;
  width: 96.721%;
  margin-right: 1.639%;
  margin-left: 1.639%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -1em;
}

/* line 68, ../sass/_base.sass */
.draggable, #drag-and-drop #free .draggable-out, #drag-and-drop #dragzone .innerdragzone .draggable-in {
  z-index: 4000;
  cursor: move;
  width: 110px;
  height: 110px;
  padding: 5px 25px;
}
/* line 74, ../sass/_base.sass */
.draggable div, #drag-and-drop #free .draggable-out div, #drag-and-drop #dragzone .innerdragzone .draggable-in div {
  width: 110px;
  height: 110px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
/* line 79, ../sass/_base.sass */
.draggable div.happy, #drag-and-drop #free .draggable-out div.happy, #drag-and-drop #dragzone .innerdragzone .draggable-in div.happy {
  background-position: 0 -110px;
}

/* line 82, ../sass/_base.sass */
body {
  background-image: url('../img/web.png?1326614028');
  background-repeat: repeat;
  background-position: 0 0;
}

/* line 87, ../sass/_base.sass */
#forklink {
  position: fixed;
  top: 0em;
  right: 0em;
}

/* line 91, ../sass/_base.sass */
#drag-and-drop {
  margin-bottom: 1em;
  overflow: visible;
}
/* line 95, ../sass/_base.sass */
#drag-and-drop #free {
  display: inline;
  float: left;
  width: 55.738%;
  margin-right: 1.639%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -1em;
}
/* line 101, ../sass/_base.sass */
#drag-and-drop #dragzone {
  display: inline;
  float: left;
  width: 39.344%;
  margin-right: 1.639%;
  margin-left: 1.639%;
}
/* line 104, ../sass/_base.sass */
#drag-and-drop #dragzone .innerdragzone {
  border: 6px dashed #bbbbbb;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 1em;
}
/* line 108, ../sass/_base.sass */
#drag-and-drop #dragzone .innerdragzone h3 {
  font-size: 90%;
  line-height: 1.6em;
  color: #bbbbbb;
  margin: 0.8em 0 0 0;
}
/* line 113, ../sass/_base.sass */
#drag-and-drop #dragzone .innerdragzone h3 strong {
  font-weight: bold;
  color: #484848;
}

/* line 119, ../sass/_base.sass */
header {
  padding: 1.4em 0 1em 0;
}
/* line 122, ../sass/_base.sass */
header .content {
  display: inline;
  float: left;
  width: 39.344%;
  margin-right: 1.639%;
  padding-left: 24.59%;
  padding-right: 32.787%;
  margin-left: 1.639%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -1em;
  text-align: center;
}
/* line 128, ../sass/_base.sass */
header .content h1 {
  width: 100%;
  font-size: 1.5em;
  line-height: 1.5;
  margin-bottom: 0.1em;
  font-weight: bold;
  color: #7fbf4d;
}
/* line 136, ../sass/_base.sass */
header .content h1 strong {
  color: white;
}

/* line 139, ../sass/_base.sass */
.round_box, #html5bpform #carousel .gallery, #html5bpform #form form {
  background-color: #eeeeee;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: inset 0 1px 4px #626262;
  -moz-box-shadow: inset 0 1px 4px #626262;
  -o-box-shadow: inset 0 1px 4px #626262;
  box-shadow: inset 0 1px 4px #626262;
  padding: 1.5em 1em;
}

/* line 145, ../sass/_base.sass */
#html5bpform {
  margin-top: 0;
}
/* line 148, ../sass/_base.sass */
#html5bpform #carousel {
  display: inline;
  float: left;
  width: 55.738%;
  margin-right: 1.639%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -1em;
}
/* line 151, ../sass/_base.sass */
#html5bpform #carousel .gallery {
  padding-bottom: 0.1em;
}
/* line 154, ../sass/_base.sass */
#html5bpform #carousel .gallery .credits {
  width: 100%;
  text-align: center;
}
/* line 159, ../sass/_base.sass */
#html5bpform #carousel .gallery .innergallery img {
  border: 1px solid #bbbbbb;
  padding: 5px;
  margin: 0 0 0.3em 0;
  background-color: white;
  width: 500px;
  height: 334px;
}
/* line 166, ../sass/_base.sass */
#html5bpform #form {
  display: inline;
  float: left;
  width: 39.344%;
  margin-right: 1.639%;
  margin-left: 1.639%;
}
/* line 171, ../sass/_base.sass */
#html5bpform #form form.allok {
  background-color: #9bc13b;
}
/* line 173, ../sass/_base.sass */
#html5bpform #form form.allok h2 {
  font-size: 4em;
  line-height: 1em;
  color: white;
  margin-bottom: 0;
  font-weight: bold;
}
/* line 179, ../sass/_base.sass */
#html5bpform #form form textarea {
  height: 206px;
}

/* line 182, ../sass/_base.sass */
#footer {
  padding-bottom: 1em;
}
/* line 185, ../sass/_base.sass */
#footer .author {
  display: inline;
  float: left;
  width: 96.721%;
  margin-right: 1.639%;
  margin-left: 1.639%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -1em;
  margin-top: 0.5em;
  text-align: right;
}

/* line 1, ../sass/partials/_login.sass */
#login_box {
  display: inline;
  float: left;
  width: 47.541%;
  margin-right: 1.639%;
  margin-left: 26.23%;
  margin-right: 26.23%;
  margin-top: 10%;
  padding-bottom: 10%;
}
/* line 11, ../sass/partials/_login.sass */
#login_box .inner_login {
  background-color: #fbfbfb;
  padding: 2em;
  border: 1px solid #bbbbbb;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 8px #bbbbbb;
  -moz-box-shadow: 0 1px 8px #bbbbbb;
  -o-box-shadow: 0 1px 8px #bbbbbb;
  box-shadow: 0 1px 8px #bbbbbb;
}
/* line 17, ../sass/partials/_login.sass */
#login_box .inner_login h2 {
  color: #626262;
}
/* line 19, ../sass/partials/_login.sass */
#login_box .inner_login .remember_password {
  margin: 1em 0 0 0;
  text-align: center;
}

/* line 1, ../sass/partials/_menu.sass */
ul.tabs_menu, .article_detail ul, #redeen_by_article .inner_page #article ul, #commerce_menu ul {
  float: right;
  padding: 0 2em 0 0;
  margin: 0 0 -1px 0;
  position: relative;
}
/* line 6, ../sass/partials/_menu.sass */
ul.tabs_menu li, .article_detail ul li, #redeen_by_article .inner_page #article ul li, #commerce_menu ul li {
  float: left;
  margin: 0 0 0 0.2em;
}
/* line 11, ../sass/partials/_menu.sass */
ul.tabs_menu li.current a, .article_detail ul li.current a, #redeen_by_article .inner_page #article ul li.current a, #commerce_menu ul li.current a {
  background-color: white;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  border-top: 1px solid #bbbbbb;
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  font-weight: bold;
  color: #da7c0c;
}
/* line 18, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul.tabs_menu li.current a:visited, .article_detail ul li.current a:visited, #redeen_by_article .inner_page #article ul li.current a:visited, #commerce_menu ul li.current a:visited {
  color: #da7c0c;
}
/* line 21, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul.tabs_menu li.current a:focus, .article_detail ul li.current a:focus, #redeen_by_article .inner_page #article ul li.current a:focus, #commerce_menu ul li.current a:focus {
  color: #da7c0c;
}
/* line 24, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul.tabs_menu li.current a:hover, .article_detail ul li.current a:hover, #redeen_by_article .inner_page #article ul li.current a:hover, #commerce_menu ul li.current a:hover {
  color: #da7c0c;
}
/* line 27, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul.tabs_menu li.current a:active, .article_detail ul li.current a:active, #redeen_by_article .inner_page #article ul li.current a:active, #commerce_menu ul li.current a:active {
  color: #da7c0c;
}
/* line 20, ../sass/partials/_menu.sass */
ul.tabs_menu li.current a:hover, .article_detail ul li.current a:hover, #redeen_by_article .inner_page #article ul li.current a:hover, #commerce_menu ul li.current a:hover {
  text-decoration: none;
}
/* line 22, ../sass/partials/_menu.sass */
ul.tabs_menu li a, .article_detail ul li a, #redeen_by_article .inner_page #article ul li a, #commerce_menu ul li a {
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  padding: 10px 12px;
  color: #484848;
}
/* line 18, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul.tabs_menu li a:visited, .article_detail ul li a:visited, #redeen_by_article .inner_page #article ul li a:visited, #commerce_menu ul li a:visited {
  color: #484848;
}
/* line 21, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul.tabs_menu li a:focus, .article_detail ul li a:focus, #redeen_by_article .inner_page #article ul li a:focus, #commerce_menu ul li a:focus {
  color: #484848;
}
/* line 24, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul.tabs_menu li a:hover, .article_detail ul li a:hover, #redeen_by_article .inner_page #article ul li a:hover, #commerce_menu ul li a:hover {
  color: #915308;
}
/* line 27, ../../../../../../../.rvm/gems/ruby-1.8.7-p72@viscaRails3/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul.tabs_menu li a:active, .article_detail ul li a:active, #redeen_by_article .inner_page #article ul li a:active, #commerce_menu ul li a:active {
  color: #484848;
}
/* line 28, ../sass/partials/_menu.sass */
ul.tabs_menu li a:hover, .article_detail ul li a:hover, #redeen_by_article .inner_page #article ul li a:hover, #commerce_menu ul li a:hover {
  text-decoration: underline;
}

/* line 1, ../sass/partials/_commerce_redeem.sass */
.commerce_redeem, #commerce_last_redeemed, #commerce_redeem_code {
  display: inline;
  float: left;
  width: 47.541%;
  margin-right: 1.639%;
  padding-bottom: 10%;
}
/* line 4, ../sass/partials/_commerce_redeem.sass */
.commerce_redeem .inner_commerce, #commerce_last_redeemed .inner_commerce, #commerce_redeem_code .inner_commerce {
  background-color: #fbfbfb;
  padding: 2em;
  border: 1px solid #bbbbbb;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 8px #bbbbbb;
  -moz-box-shadow: 0 1px 8px #bbbbbb;
  -o-box-shadow: 0 1px 8px #bbbbbb;
  box-shadow: 0 1px 8px #bbbbbb;
}
/* line 10, ../sass/partials/_commerce_redeem.sass */
.commerce_redeem .inner_commerce h2, #commerce_last_redeemed .inner_commerce h2, #commerce_redeem_code .inner_commerce h2 {
  color: #626262;
  margin-bottom: 0.3em;
}

/* line 14, ../sass/partials/_commerce_redeem.sass */
#commerce_last_redeemed {
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -1em;
}
/* line 20, ../sass/partials/_commerce_redeem.sass */
#commerce_last_redeemed .inner_commerce .list_items li.first {
  margin-top: 1em;
}
/* line 22, ../sass/partials/_commerce_redeem.sass */
#commerce_last_redeemed .inner_commerce .list_items li.first .main {
  color: #484848;
}
/* line 25, ../sass/partials/_commerce_redeem.sass */
#commerce_last_redeemed .inner_commerce .list_items li .tag a, #commerce_last_redeemed .inner_commerce .list_items li .error-tag a {
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: none;
}

/* line 30, ../sass/partials/_commerce_redeem.sass */
#commerce_redeem_code {
  margin-left: 1.639%;
}
/* line 36, ../sass/partials/_commerce_redeem.sass */
#commerce_redeem_code .inner_commerce form .code input {
  border: 1px solid #484848;
  margin-bottom: 0.3em;
}
/* line 39, ../sass/partials/_commerce_redeem.sass */
#commerce_redeem_code .inner_commerce form .code p {
  font-size: 0.8em;
  line-height: 1;
  color: #bbbbbb;
  margin: 0 0 0.2em 0;
}

/* line 48, ../sass/partials/_commerce_redeem.sass */
#redeen_by_article .inner_page {
  padding: 0;
}
/* line 50, ../sass/partials/_commerce_redeem.sass */
#redeen_by_article .inner_page #redeem_zone {
  overflow: hidden;
  *zoom: 1;
  padding: 4%;
}
/* line 53, ../sass/partials/_commerce_redeem.sass */
#redeen_by_article .inner_page #redeem_zone .alert-message {
  margin: 0;
}
